body {
    color:rgb(9, 9, 9);
    background: rgb(201,11,119);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom:100px;
    font-family: "Dancing Script", cursive;
   }

   header{
       border-bottom: solid 2px white;
       padding: 20px;
       font-size: 32px;
       color: rgb(15, 14, 14);
   }

   section{
    background: rgb(201, 11, 119);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
   }

   
    .chamada-texto {
       margin-right: 5%;
    }
    
    h1{
       font-size: 40px;
    }
    
    p{
       font-size: 20px;
    }
    img{
       height: 100px;
    }
    
    .categoria-vídeos {
       display: flex;
       overflow-x:auto;
       gap: 10px;
    }

    .categoria{
       padding-left: 20px;
       padding-right: 20px;
       margin-top: 50px;
    }
    
    .categoria-vídeos img {
      opacity: 0.70;
      height: 200px;
    }
    .categoria-vídeos img:hover {
       opacity:2.0;
       border:1px solid white;
   }
   
   .categoria h2 {
       color: rgb(201, 11, 119);
   }
   
